* {
  box-sizing: border-box;
}

img {
  width: 100%;
  opacity: 1;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

h3 {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.bg-img {
  position: fixed;
  background: no-repeat center;
  top: 0;
  width: 100%;
  z-index: -999;
}
.bgwhite {
  background-color: white;
  background-top: 0;
  opacity: 0.8;
  background-size: cover;
  display: block;
  z-index: -998;
  width: 100vw;
  height: 91vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  vertical-align: middle;
}
.nav-bar {
	margin:0;
}
.tabs {
  vertical-align: middle;
  text-align: center;
  width: 100vw;
  border-bottom: solid 1px #d8d8d8;
  text-transform: uppercase;
}
.tabs ul {
  list-style: none;
}
.tabs ul>li {
  display: inline-block;
}
.tabs ul>li>a {
  font-size: 12px;
  font-weight: 5px;
  color: #d8d8d8;
  padding: 15px 10px;
  margin: 20px;
  transition: color 0.5s ease;
  letter-spacing: 2px;
}
.tabs ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.button1 {
  position: absolute;
  top: 70%;
  left: 38%;
  background-color: transparent;
  padding: 20px 40px;
  background: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  font-weight: 20px;
}
.button1:after,
.button1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.button1:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}
.button1:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}
.button1:hover:after,
.button1:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}
.circle {
  width: 12rem;
  border: 1px solid;
  border-radius: 50%;
}
.row {
  width: 80%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.float-left {
  width: 50%;
  float: left;
}
.float-left p{
	text-align: left;
}
.float-right {
  width: 50%;
  float: right;
}
.float-right p{
	text-align: left;
}
.clearfix: after {
	display: table;
	content: '';
	height: 0;
	clear: both;
	visibility: hidden;
}
.contact-form{
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.contact-form input,
.contact-form textarea,
.contact-form button{
	width: 100%;
	font-size: 1rem;
	margin-bottom: 20px;
	font-family: 'Roboto';
	border: 1px solid black;
	padding: 15px;
}
.contact-form button{
	background-color: transparent;
	color: black;
	border-color: black;
	cursor: pointer;
	transition: background-color 0.5s ease;
	width: 100%;
	background-color: transparent;
}
.contact-form button:hover{
	background-color: white;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}